*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

body{
	font-family: 'Poppins', sans-serif;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}

.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}

.btn:hover{
	background: #563434;
}


.header .row{
	margin-top: 70px;
}

.logo img{
border-radius: 10px}


.col-2 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.categories{
	margin: 70px 0;
}

.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-3 img{
	width: 100%;
}

/*------------- account-page --------------*/

.forgot-password-container{
    margin: 25px 0;
    padding: 70px 0;
    background: linear-gradient(40deg, #f9ff8c52, #e5ff2c);
}

.form-container{
	background: #fff;
	width: 300px;
	height: 320px;
	position: relative;
	text-align: center;
	padding: 25px 0;
	margin: auto;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .1);
	overflow: hidden;
}


.form-container>div{
	width: 300px;
	padding: 0 20px;
	position: absolute;
	transition: transform 0.5s;
}


#Email-form{
	left: 0;
	top: 50px;
}

#Email-form form{
	position: relative;
	top: 70px;
}

#Email-form p{
	position: relative;
}

p:after{
	content: '';
	background: #ff523b;
	height: 5px;
	border-radius: 5px;
	position: absolute;
}

#Email-form p:after{
	width: 150px;
	top: 28px;
	left: 55px;
}

.otp-mssg{
	padding: 15px;
	margin: 10px 15px 0px;
	font-size: 15px;
	color: #555;
}

#Otp-form{
	left: -300px;
	top: 50px;
}


#Otp-form p:after{
	width: 50px;
	top: 28px;
	left: 126px;
}

#Otp-form input[name="otp"]{

	width: 100px;
}



#NewPassword-form{
	left: 300px;
	top: 50px;
}

#NewPassword-form form{
	position: relative;
	top: 50px;
}

#NewPassword-form p:after{
	width: 141px;
	top: 28px;
	left: 80px;
}

form input{
	width: 80%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
}

form .btn{
	border: none;
	cursor: pointer;
	margin: 10px 0;
}

form input:focus, .btn:focus{
	outline: none;
}

/*for flash messages*/

#alert-header{

	position: fixed;
	top: 0;

	width: 100%;

	z-index: 2;
}


@media only screen and (max-width: 600px){
	.forgot-password-container{
	    padding: 15px 0;
	}

.col-2 img {
    padding: 25px 0;
    width: 80%;
}
}



