.small-container{
	max-width: 1080px;
	margin: 50px auto;
	padding: 0 25px;
}


.col-4{
	flex-basis: 22%;
	padding: 10px;
	min-width: 200px;
	transition: transform 0.5s;
}

.col-4 img{
	width: 100%;
}

/* pagination buttons */
.page-btn-section{
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.page-btn:hover {
    background: #ef8282;
    cursor: pointer;
}
.page-btn {
    display: inline-block;
    background: #ec3d25;
    color: #fff;
    font-size: 20px;
    padding: 12px 25px;
    border-radius: 3px;
    border: none;
    transition: background 0.5;
}

.page-btn-active {
    background: #ff7462;
}

/* single product detail*/

.col-4{
	flex-basis: 25%;
	padding: 8px;
	min-width: 200px;
	transition: transform 0.5s;
  margin: 0px 10px;
}

.col-4 img{
	width: 200px;
  height: 230px;
  object-fit: cover;
}

.col-4 p{
	font-size: 22px;
}

.col-4:hover{
	transform: translateY(-5px);
}


.item-container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;

}

.product-image{
  min-width: 200px;
  margin: auto;
}

.single-image-link{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  flex-direction: column;
}


.single-product-details {
    text-align: center;
    padding-top: 20px;
    font-size: 1.5rem;
}


#sort {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 2px solid #148c8d;
  
}

#sort:hover{
  cursor: pointer;
}

/*--------------testimonial--------------*/

.testimonial-container{
	max-width: 1080px;
	margin: auto;
	padding: 0 25px;
}

.testimonial{
	padding-top: 15px;
}

.testimonial .col-3{
	align-items: center;
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
	cursor: pointer;
	transition: transform 0.5s;
  min-height: 350px;
}

.testimonial .col-3 img{
	width: 100px;
	height: 100px;
	margin-top: 20px;
	border-radius: 50%;
}

.testimonial .col-3:hover{
	transform: translateY(-10px);
}

.fa.fa-quote-left{
	font-size: 34px;
	color: #e71318;;
}

.col-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}

.testimonial .col-3 h3{
	font-weight: 600;
	color:#555;
	font-size: 16px;
}


@media only screen and (max-width: 600px){
	.small-container{
    padding: 10px 0px;
  }

}