/*---------------- All products ----------------*/
.small-container{
	max-width: 1080px;
	margin: 50px auto;
	padding: 0 25px;
}

.page-btn{
    margin: 20px 0;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;

}