.small-container {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 25px;
}

.page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;

}

/*------------- single product details-------------*/

.single-product-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 30px;


}

.product-img-col {
  flex-basis: 40%;
  text-align: center;
}

.product-detail {
  width: 80%;
  align-items: center;
}

.header .row {
  padding: 50px 0;
}

.single-product {
  margin-top: 80px;
}


.product-detail-col {
  flex-basis: 50%;
  padding: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}


.single-product .col-2 img {
  width: 50%;
  height: auto;
  padding: 0;
  margin-bottom: 20px;
}

.single-product .col-2 {
  margin: auto;
  padding: 0px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

select {
  border: 2px solid #148c8d;
  padding: 5px;
  display: block;
  margin-top: 15px;
}



input {
  width: 70px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #148c8d;

}

input:focus {
  outline: none;
}

.fa {
  color: #ff523b;
  margin-left: 10px;
}


.big-img {
  height: 400px;
}

.big-img img {
    height: 400px;
    width: 350px;
}

.small-img-row {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
  margin: 10px;
  height: 100px;
  
}

.small-img-col img {

  height: 100px;
  width: 70px;
  object-fit: cover;
}


.product-detail {
  width: 80%;
  align-items: center;
}


.col-2 img {
  width: 80%;
}

.row-2 {
  text-align: center;
  justify-content: space-between;
  margin: 50px auto 50px;
}

.row-2 h2 {
  margin-top: 10px;
}

.row-2 p {
  padding: 15px;
}



/*--- Related Product Container ---*/
.related-product-container {
  margin-top: 15px;
  margin-bottom: 20px;
}

.related-product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.related-product-item-row {
  width: 80%;
  /* height: 300px; */
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.related-product {
  height: 240px;
  width: 200px;
}

.related-product-item-row img {
  height: 200px;
  object-fit: cover;
  width: 180px;
}


@media only screen and (max-width: 600px) {
  .single-product {
    margin-top: 40px;
  }

  .single-product .col-2 img {
    width: 95%;
    height: auto;
    margin-bottom: 15px;
  }

  .small-img-col img {
    min-width: 60px;
    min-height: 80px;
  }

  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 10px 0;
  }

  .single-product h1 {
    font-size: 26px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .single-product h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .single-product select {
    margin-top: 10px;
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .product-detail {
    width: 80%;
    align-items: center;
    margin: auto;
  }

  .row-2 {
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;

  }
}


@media only screen and (max-width: 600px){

  .big-img {
  height: 300px;
}

.big-img img {
    height: 300px;
    width: 250px;
}

.related-product-item-row {
  width: 100%;
}
.related-product-item-row img {
    height: 168px;
    object-fit: cover;
    width: 120px;
}
.related-product {
    height: 220px;
    width: 120px;
}
}