{% extends "product/layout.html" %}

{% block title %}
    All products Page | Fitkit
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('product.static', filename='css/index.css') }}">
{% endblock %}


{% block main %}

		<!------------ All Products -------->
<div class="small-container">

  {% if items.items|length > 0 %}
  <div class="row row-2">
    <h2>All Products</h2>
    <form id="target" action="/" method="get">
      <select id="sort" name="sort_by">
        <option value="low_to_high" {% if sort=='low_to_high' %} selected {% endif %}>Sort by price: Low to High
        </option>
        <option value="high_to_low" {% if sort=='high_to_low' %} selected {% endif %}>Sort by Price High to Low</option>
        <option value="newer" {% if sort=='newer' %} selected {% endif %}>Sort by Newer First</option>
        <option value="older" {% if sort=='older' %} selected {% endif %}>Sort by older First</option>
      </select>
    </form>
  </div>
  <div class="item-container">
    {% for product in items %}
    <div class="col-4">
      <a class="single-image-link" href="{{ url_for('product.detail', product_id=product.id ) }}">
        <div class="product-image"><img src="{{ url_for('product.static', filename='images/' + product.image + '_thumbnail.jpeg') }}"></div>
        <div class="single-product-details">
          <h4>{{ product.name }}</h4>
          <p>&#8377; {{ product.price }}</p>
        </div>
      </a>
    </div>

    {% endfor %}
  </div>


  <div class="page-btn-section">

    {% for page_num in items.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if items.page == page_num %}
    <a class="page-btn page-btn-active" >{{ page_num }}</a>
    {% else %}
    <a class="page-btn" href="{{ url_for('product.index', page=page_num, sort_by=sort) }}">{{ page_num
      }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
  </div>

  {% else %}
  <div class="no-product">
    <h1>No product, Comeback later.</h1>
  </div>
  {% endif %}
</div>



	
		<script>

		let sort = document.getElementById('sort')
		console.log(sort)
		sort.addEventListener('change', () => {
			document.getElementById('target').submit()
		})
		
    	</script>
{% endblock %}