{% extends "users/layout.html" %}

{% block title %}
    Password Reset | Fitkit
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('users.static', filename='css/login.css') }}">
{% endblock %}


{% block main %}

	<!--------------- account page ------------>
    <div class="account-page-container">
        <div class="form-container">
            <form method="POST" action="" novalidate>
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    <div class="form-group">
                        <div id="Email-form">
							<p>Registered Email</p>
								<input type="text" placeholder="Email" name="email" autocomplete="off">
								<button type="submit" class="btn">Submit Email</button>
							<br>
						</div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="need-account border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{{ url_for('users.registerUser') }}">Sign Up Now</a>
            </small>
        </div>
    </div>
    


{% endblock %}