{% extends "layout.html" %}

{% block title %}
    Password Reset | Fitkit
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/users/static/css/forgot_password.css">
{% endblock %}


{% block main %}

		<!--------------- account page ------------>
		<div class="forgot-password-container">
			<div class="row">
				<div class="col-2">
					<img src="https://myfitkitbucket.s3.ap-south-1.amazonaws.com/images/logos/logo3.jpg">
				</div>
				<div class="col-2">
					<div class="form-container">
						<div id="NewPassword-form">
							<p>New Password</p>
							<form method="post">
								<input type="password" placeholder="New Password" name="newPassword">
								<input type="password" placeholder="Comfirm Password" name="confirmPassword">
								<button type="submit" class="btn">Change Password</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>



{% endblock %}
